<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
			<mapping>
				<level value="ERROR" />
				<foreColor value="Red" />
			</mapping>
			<mapping>
				<level value="WARN" />
				<foreColor value="Yellow" />
			</mapping>
			<mapping>
				<level value="INFO" />
				<foreColor value="Blue" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%utcdate{MM/yy HH:mm:ss} [%thread] %-6level:%logger : %message%newline%exception" />
			</layout>
		</appender>
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="C:\Logs\LogFile.log" />
			<appendToFile value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO" />
				<levelMax value="FATAL" />
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%utcdate{MM/yy HH:mm:ss} [%thread] %-6level:%logger : %message%newline%exception" /> 
			</layout>
		</appender>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<rollingStyle value="Composite" />
			<datePattern value="'DailyLog_'MM-dd-yyyy" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="2MB" />
			<appendToFile value="true" />
			<preserveLogFileNameExtension value="true" />
			<staticLogFileName value="false" />			
			<file value="C:\Logs\.log" />
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO" />
				<levelMax value="FATAL" />
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%utcdate{MM/yy HH:mm:ss} [%thread] %-6level:%logger : %message%newline%exception" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="FileAppender" />
			<appender-ref ref="RollingFileAppender" />
		</root>
	</log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>